.fullHome {
    display: flex;
    align-items: center;
    margin: 5% 5%;
    height: 60vh;
}

.fullHome img {
    margin: 5% 0;
    width: 60%;
    height: 80%;
}

.contentHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentHome h1 {
    margin-bottom: 4%;
}

.textHome {
    display: flex;
}

.textoa {
    text-align: center;
    color: black;
}
.textHome p {
    font-size: 180%;
    margin-top: 2px;
    margin-right: 10px;
}

.buttons {
    display: flex;
    margin-top: 7%;
}

.buttons .button {
    margin: 0 10px;
    height: 45px;
    width: 150px;
}

@media screen and (max-width: 1366px) {
    .fullHome img {
        width: 50%;
        height: 80%;
    }
}

@media screen and (max-width: 850px) {

    .fullHome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fullHome img {
       display: none;
    }
}